<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Trees of Central Texas 🌳</div>
    <p>
      Tree identification by leaf! Upload an image to begin. <!-- Can classify the following species:
        <li>American Elm</li>
        <li>American Sycamore</li>
        <li>Bald Cypress</li>
        <li>Bigtooth Maple</li>
        <li>Black Cherry</li>
        <li>Cedar Elm</li>
        <li>Green Ash</li>
        <li>Live Oak</li>
        <li>Magnolia</li>
        <li>Mexican White Oak</li>
        <li>Pecan</li>
        <li>Red Oak</li>
        <li>Shumard Oak</li>
        <li>Texas Ash</li>
        <li>Texas Walnut</li>
        <li>Yaupon</li> -->
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
